{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": false,
  "singleAttributePerLine": false,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "^(react/(.*)$)|^(react$)",
    "",
    "^(next/(.*)$)|^(next$)",
    "",
    "^@prismicio/(.*)$",
    "^@prismic/(.*)$",
    "",
    "^@/prismicio$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/components/(.*)$",
    "",
    "^@/lib/(.*)$",
    "",
    "^@/slices/(.*)$",
    "",
    "^@/styles/(.*)$",
    "",
    "^@/types/(.*)$",
    "",
    "^@/public/(.*)$",
    "",
    "^@/images/(.*)$",
    "",
    "^[./]"
  ]
}
